
.nav-bar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    color: #1F384C;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400; 
}
.nav-img{
    height: 48px;
    margin-left: 20px;
    padding: 10px;
    width: 220px;
    background-color: #FFF;
}
.nav-bar input{
    margin: 0 32px;
    width: 625px;
    height: 32px;
    padding-left: 15px;
    border-radius: 5px; 
    border: none;
    background-color: #0100390A;
    color: #1F384C;
    font-family: Poppins;
    font-size: 12px; 
    font-weight: 400; 
}
.glass{
    position: relative;
    left: 650px;
    top: 7px;
    opacity: 0.5; 
}
.notifications{
    display: flex;
    margin-left: 375px;
}
.lunch{
    background-color: #ffcccc;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
}
.company-name{
    margin-left: 12px;
    margin-top: 10px;
}
.arrow{
    margin-left: 3px;
    margin-top: 6px;
}
.bell{
    margin-left: 32px;
    margin-top: 4px;
}
.side-bar {
    width: 240px;
    height: 800px;
    background-color: #0100390A;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.menu{
    color: #082431;
    font-size: 11px;
    margin-left: 24px;
    opacity: 0.5;
    margin-top: 32px;
    margin-bottom: 26px;
}
.dashboard{
    font-size: 16px; 
    font-weight: 500;
    background-color: #50417833;
    border-radius: 10px;
    width: 174px;
    height: 40px;
    padding-top: 25px; 
    text-align: center;
    color: #504178;
    margin-left: 24px;
}
.order{
    margin-top: 24px;
    display: flex;
    color: #767D87;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 24px;
}
.order p{
    margin-left: 12px;
    margin-right: 12px;
}
.menu-items{
    display: flex;
    flex-direction: column;
}
.report{
    margin-left: 24px;
    color: #767D87;
    margin-top: 24px;
}
.report a{
    color: #767D87;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-left: 12px;
}
.shipping{
    margin-left: 24px;
    color: #767D87;
    margin-top: 24px;
}
.shipping a{
    color: #767D87;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-left: 12px;
}
.maintenance{
    margin-left: 24px;
    color: #767D87;
    margin-top: 24px;
}
.maintenance a{
    color: #767D87;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-left: 12px;
}
.system{
    margin-top: 40px;
    margin-left: 36px;
    margin-bottom: 26px;
    color: #082431;
    font-size: 11px;
    opacity: 0.5;
}
.data{
    display: flex;
    margin-left: 24px;
    color: #767D87; 
    margin-bottom: 24px;
}
.data p{
    margin-right: 12px;
}
.user, .role{
    margin-left: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #767D87;
    margin-bottom: 24px;
}
.user a, .role a{
    text-decoration: none;
    color: #767D87; 
    margin-left: 12px;
}
main{
    margin-left: 250px;
    left: 40px;
    margin-top: 120px;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    position: relative;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 22px;
}
.section-title{
    color: #1F384C;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 31px;
    display: flex;
    flex-direction: row;
}
.percent{
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    text-align: center;
}
.truck{
    width: 63px;
    height: 63px;
}
.percentage{
    display: flex;
    flex-direction: row;
}
.name{
    display: flex;
    flex-direction: column;
    color: #80809C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.tab-name{
    color: #1F384C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    display: flex;
    flex-direction: row;
}
.tab-name input{
    margin-left: 325px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    color: #504178;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}
.x-axe{
    display: flex;
    align-items: start;
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 92px;
}
.y-axe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.x-axe th{
    padding-left: 29px;
    font-size: 12px;
}
.y-axe th{
    padding-top: 25px;
    font-size: 12px;
}
th{
    margin-bottom: 25px;
    margin-left: 0;
    color: #939393;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
}
.bar{
    background-color: #504178;
    display: flex;
    flex-direction: column;
    align-self: baseline;
}
.bar-jan{
    margin-left: 25px;
    width: 20px;
    height: 296px; 
}
.bar-feb{
    width: 20px;
    height: 190px;
    margin-left: 25px;
}
.bar-mar{
    width: 20px;
    height: 240px;
    margin-left: 25px;
}
.bar-apr{
    width: 20px;
    height: 106px;
    margin-left: 25px;
}
.bar-may{
    width: 20px;
    height: 190px;
    margin-left: 25px;
}
.bar-jun{
    width: 20px;
    height: 268px;
    margin-left: 25px;
}