
.nav-bar{
display: flex;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 10px;
height: 64px;
}
.nav-img img {
    height: 36px;
}
nav-img{
    display: flex;
    width: 240px;
    box-sizing: border-box;
}
.nav-bar input{
    margin: 16px 32px;
    width: 625px;
    height: 32px;
    padding-left: 15px;
    border-radius: 5px; 
    border: none;
    background-color: #0100390A;
}
search-bar{
    
}
.side-bar {
    width: 64px;
    height: 450px;
    background-color: darkgray;
}
main {
    margin-top: 120px;
}